@use 'src/variables.scss' as var;

.sidenav{
  min-height: 100vh;
  background: var.$base-backgroud;
  &__aside{
    min-width: 20rem;
  }

  &__content{
    display: flex;
    flex-direction: column;
  }
}
