<div class="account">
  <div class="account__content">
    <div class="account__content-top">
      <div class="top-heading">
        <h3 class="account-title">Account Information</h3>
      <div class="top-actions">
        <button><mat-icon>edit</mat-icon></button>
        <button><mat-icon>remove</mat-icon></button>
        <button (click)="onClose()"><mat-icon>close</mat-icon></button>
      </div>
      </div>
    </div>
    <div class="account__content-bottom">
      <button mat-raised-button>Close</button>
    </div>
  </div>
</div>
