name: Build & Deploy

on:
  push:

    branches:
      - "main"

jobs:
  build:
    name: Build
    environment: Development
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node 18.x
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Install dependencies
        run: npm i
      - name: Build
        run: npm run build --strict false
      - name: Archive
        run: tar -cf archive.tar ./node_modules ./build
      - name: Upload archive
        uses: actions/upload-artifact@v3
        with:
          name: archive.tar
          path: ./archive.tar
      - run: ls -R
      - uses: actions/download-artifact@v2
        with:
          name: archive.tar
          path: ./
      - name: Deploy dive preview
        uses: appleboy/scp-action@master
        with: 
          host: ${{secrets.SSH_HOST}}
          key: ${{secrets.SSH_KEY}}
          username: ${{secrets.SSH_USERNAME}}
          source: ./archive.tar
          target: "/server/"
      - name: Run node app
        uses: appleboy/ssh-action@master
        with: 
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /server
            DIR="piggy-bank-back"
            if [ -d "$DIR" ]; then
              echo "Remove old ${DIR} "
              rm -rf "${DIR}"
            fi
            mkdir "${DIR}"
            tar -xvf archive.tar -C "${DIR}"
            rm archive.tar
            cp .env "${DIR}/build/" .env
            node "${DIR}/build/server.js" 
            
          
          
        

        
